# Build folders
build/
cmake-build-*/
out/

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Binaries
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Object files
*.o
*.obj
*.a
*.lib

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
